* {
  box-sizing: border-box;
}

body  {
  background-color: #f7f7f7;
}

@font-face {
  font-family: PressStart2P;
  src: url(fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/SourceSans3-VariableFont_wght.ttf);
}
